@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@250;350;400&display=swap");

body {
  margin: 0px;
  padding: 0px;
  font-family: "Assistant", sans-serif;
  font-size: 15px;
  letter-spacing: 8px;
  justify-content: center;
}

main {
  border: #e0d1c6;
  margin-top: 0;
}

header nav {
  display: flex;
  gap: 17px;
  flex: end;
  padding: 30px;
  background-color: whitesmoke;
}

header nav a {
  text-decoration: none;
  padding: 6px;
  letter-spacing: 5px;
  background: none;
  color: #C09B81;
  font-size: 16px;
  font-weight: 700;
}

header nav a.active {
  background-color: #e0d1c6;
  color: #fff;
  border-radius: 4px;
}

header h2 {
  background: none;
  margin-right: auto;
  color: #C09B81;
  font-weight: bolder;
  font-size: large;
}

/* Home Screen Styles */
.onboarding {
  padding: 19%;
}

.onboarding h2 {
  font-weight: 350;
  font-size: x-large;
  background: none;
}

/* Journey Screen Styles */
.journey {
  background: none;
  padding-top: 2%;
  padding-bottom:6% ;
}
.journey h2 {
  display: grid;
  margin-top: 2%;
  margin-bottom: 3%;
  font-weight: 350;
}

.journey p {
  letter-spacing: 4px;
  margin-top: 2.5%;
  line-height: 20px;
  display: grid;
  font-size: large;
  font-weight: 350;
  background: none;
}

/* Candle Care Styles */
.care {
  background: none;
  padding: 3%;
  display: flex;
  justify-content: space-evenly;
}

