@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@250;350;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Wendy+One&display=swap");

body {
  background: none;
  padding: 20px;
}

.layout_container {
  background-color: #818589;
  padding-top: 20px;
  padding-bottom: 30px;
}

.layout_container .child1 {
  color: #fff;
  font-family: "Wendy One", sans-serif;
  margin-left: 50%;
  margin-right: 50%;
}

.layout_container .child2  {
  color: #fff;
  font-family: "Wendy One", sans-serif;
  margin-left: 49%;
  margin-right: 49%;
}


.layout_container img {
  width: 120px;
  height: 120px;
  margin-left: 48%;
}

.layout_container a {
  text-decoration: none;
}

.layout_container .child2 a {
  color: #fff;
  padding: 6px;
  border-radius: 4px;
  border: 2px solid #fff;
  font-weight: lighter;
  letter-spacing: 3px;

}
